body {
  margin: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 3.5;
  letter-spacing: 0.00938em;
  background-color: #fff;
}
.container {
  display: table-caption;
  padding-bottom: 18px;
}

.form-inside-input {
  height: 500px;
  width: 200px;
  margin: 0 auto;
}
.btn {
  margin-left: 10px;
  font-size: 19px;
  background-color: white;
  color: black;
  border: 2px solid #008cba;
}

.btn:hover {
  background-color: #008cba;
  color: white;
}
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #1976d2;;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid#1976d2;;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
